.content-margin {
    margin-left: 10%;
    margin-right: 10%;
}

.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}

.carousel-item > img {
    object-fit: contain;
    max-height: 800px;
}

.carousel-item {
    background-size: contain;
}